:root{
    --color-Mob: #ff0000;
    --color-Tab: #ff6f00;
    --color-laptop: #fbff00;
    --color-Desktop: #51ff21;
    --color-Desk: #219fff;
    --color-De: #e121ff;
    --color-D: #44064e;

}

*{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;

}

body{
    font-size: 35px;
    font-family: sans-serif;

}

.container{
    display: grid;
    place-items: center;

    background-color: rgb(255, 0, 0);
    height: 100vh;
}

.text{
    font-size: 1.5rem;
}
 

#size {
    position: absolute;

    top: 60%;
    left: 50%;

    transform: translate(-50%);

    color: rgb(255, 255, 255);
    font-size: 35px;
}

@media  and (min-width : 576px) {
    .container{
     background-color: var(--color-Mob);
    }

}

 @media screen and (min-width : 768px) {
    .container{
        background-color: var(--color-Tab);
    }
    
 }

 @media screen and (min-width : 992px) {
    .container{
        background-color: var(--color-laptop);
    }
    
 }

 @media screen and (min-width : 1200px) {
    .container{
        background-color: var(--color-Desktop);
    }
    
 }

 @media screen and (min-width : 1450px) {
    .container{
        background-color: var(--color-Desk);
    }
    
 }


 @media screen and (min-width : 1550px) {
    .container{
        background-color: var(--color-De);
    }
    
 }

 @media screen and (min-width : 1680px) {
    .container{
        background-color: var(--color-D);
    }
    
 }



